<!doctype html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  
  <title>브라이트코브 오디언스</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">  
  <link data-react-helmet="true" rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500&amp;display=swap">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://support.brightcove.com/site-assets/css/site/prism.css">
  <link rel="stylesheet" href="https://support.brightcove.com/site-assets/css/site/styles.css">
  <link rel="stylesheet" href="https://support.brightcove.com/site-assets/css/site/landing-page.css">
  <link rel="stylesheet" href="https://support.brightcove.com/site-assets/css/site/tabs.css">
  <link rel="stylesheet" href="/assets/css/local.css">
  <link data-react-helmet="true" rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500&display=swap">
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/381443caa8.js" crossorigin="anonymous"></script>
  <script src="https://support.brightcove.com/site-assets/js/site/google-analytics.js"></script>
  <script src="/assets/js/sajari-head.js"></script>
</head>

<body class="body">

<header>
  <div class="div-header">
    <a href="/"><span class="product-logo" style="font-family:'Balto Web','Public Sans';font-size:2em;font-weight:bold;">브라이트코브 대상<sup>™</sup></span></a>
<!-- GTranslate: https://gtranslate.io/ -->
<select onchange="doGTranslate(this);"><option value="">언어 선택</option><option value="en|en" translate="No">English</option><option value="en|zh-TW" translate="No">繁體中文</option><option value="en|fr" translate="No">Français</option><option value="en|de" translate="No">Deutsche</option><option value="en|ja" translate="No">日本語</option><option value="en|ko" translate="No">한국어</option><option value="en|es" translate="No">Español</option></select>

<script>
/* <![CDATA[ */
function doGTranslate(lang_pair) {if(lang_pair.value)lang_pair=lang_pair.value;if(lang_pair=='')return;var lang=lang_pair.split('|')[1];var plang=location.hostname.split('.')[0];if(plang.length !=2 && plang.toLowerCase() != 'zh-cn' && plang.toLowerCase() != 'zh-tw')plang='en';location.href=location.protocol+'//'+(lang == 'en' ? '' : lang+'.')+location.hostname.replace('www.', '').replace(RegExp('^' + plang + '\\.'), '')+location.pathname+location.search;}
/* ]]> */
</script>

    


    <span class="secondary-nav"><a href="https://supportportal.brightcove.com/s/login/?"><img src="https://support.brightcove.com/site-assets/images/site/support.png" alt="지원"/> 고객 지원 문의</a> <span style="vertical-align: top;margin-left:1em;margin-right:1em;">|</span> <a href="https://status.brightcove.com/"><img src="https://support.brightcove.com/site-assets/images/site/status.png" alt="시스템 상태"/> 시스템 상태</a></span> <br/>
    
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb arr-right">
      
      <li class="breadcrumb-item"><a href="/">홈</a></li>
      
      
      
      <li class="breadcrumb-item"><a href="/general/">일반 정보</a></li>
      
      <li class="breadcrumb-item active" aria-current="page">브라이트코브 오디언스</li>
    </ol>
  </nav>
</header>
<div class="container">
    <div class="row">
      <div class="col-sm-3 left-side-bar">
        <nav class="sidenav">
          
            
            <h5><a href="/index.html">홈</a></h5>
            
          
            
              <h5 class="submenu-header"><a href="/get-started/index.html">시작하기 <strong>+</strong></a></h5>
              <ul class="sidenav-submenu" style="display:none;">
                
                  
                    <li><a href="/get-started/getting-started-audience-module.html">대상 그룹 시작하기</a></li>
                  
                
                  
                    <li><a href="/get-started/audience-training-videos.html">시청자 교육 동영상</a></li>
                  
                
              </ul>
            
          
            
              <h5 class="submenu-header"><a href="/general/index.html">일반 정보 <strong>+</strong></a></h5>
              <ul class="sidenav-submenu" style="display:none;">
                
                  
                    <li><a href="/general/audience-fields-and-data-definitions.html">대상 필드 및 데이터 정의</a></li>
                  
                
                  
                    <li><a href="/general/configuring-audience-settings.html">대상 설정 구성</a></li>
                  
                
                  
                    <li><a href="/general/creating-audience-enabled-player.html">오디언스가 활성화된 플레이어 만들기</a></li>
                  
                
                  
                    <li><a href="/general/creating-audience-lead-form.html">오디언스 가망 고객 양식 생성</a></li>
                  
                
                  
                    <li><a href="/general/how-audience-module-identifies-viewers.html">시청자가 시청자를 식별하는 방법</a></li>
                  
                
                  
                    <li><a href="/general/publishing-video-email-using-audience-module.html">전자 메일에 비디오 게시</a></li>
                  
                
                  
                    <li><a href="/general/using-custom-metrics-and-events.html">사용자 지정 지표 및 이벤트 사용</a></li>
                  
                
                  
                    <li><a href="/general/viewing-player-events-audience-module.html">플레이어 이벤트 보기</a></li>
                  
                
                  
                    <li><a href="/general/viewing-video-activity.html">비디오 활동 보기</a></li>
                  
                
                  
                    <li><a href="/general/viewing-viewer-profile-information.html">뷰어 프로파일 정보 보기</a></li>
                  
                
                  
                    <li><a href="/general/working-utm-fields-audience-module.html">UTM 필드 작업</a></li>
                  
                
              </ul>
            
          
            
              <h5 class="submenu-header"><a href="/integrations/index.html">통합<strong>+</strong></a></h5>
              <ul class="sidenav-submenu" style="display:none;">
                
                  
                    <li class="submenu-header">
                      <a href="/integrations/eloqua/index.html">엘로쿠아 <strong>+</strong></a>
                      <ul class="sidenav-subsubmenu" style="display:none;">
                        
                        <li><a href="/integrations/eloqua/creating-custom-lead-forms-oracle-eloqua.html">사용자 정의 잠재 고객 양식 생성</a></li>
                        
                        <li><a href="/integrations/eloqua/eloqua-integration-testing-guide.html">Eloqua 통합 테스트 가이드</a></li>
                        
                        <li><a href="/integrations/eloqua/embedding-video-cloud-video-eloqua-landing-page.html">랜딩 페이지에 비디오 포함</a></li>
                        
                        <li><a href="/integrations/eloqua/integrating-video-cloud-oracle-eloqua.html">오라클 엘로쿠아와의 통합</a></li>
                        
                      </ul>
                    </li>
                  
                
                  
                    <li class="submenu-header">
                      <a href="/integrations/hubspot/index.html">허브스팟<strong>+</strong></a>
                      <ul class="sidenav-subsubmenu" style="display:none;">
                        
                        <li><a href="/integrations/hubspot/creating-custom-lead-forms-hubspot.html">사용자 정의 잠재 고객 양식 생성</a></li>
                        
                        <li><a href="/integrations/hubspot/hubspot-rest-api-integration-testing-guide.html">허브스팟 REST API 테스트 가이드</a></li>
                        
                        <li><a href="/integrations/hubspot/integrating-video-cloud-hubspot-using-client-side-apis.html">HubSpot과 통합 (클라이언트 측 API)</a></li>
                        
                        <li><a href="/integrations/hubspot/integrating-video-cloud-hubspot-using-rest-apis.html">허브스팟과 통합 (REST API)</a></li>
                        
                      </ul>
                    </li>
                  
                
                  
                    <li class="submenu-header">
                      <a href="/integrations/marketo/index.html"><strong>마르케토</strong></a>
                      <ul class="sidenav-subsubmenu" style="display:none;">
                        
                        <li><a href="/integrations/marketo/creating-custom-lead-forms-marketo.html">사용자 정의 잠재 고객 양식 생성</a></li>
                        
                        <li><a href="/integrations/marketo/integrating-video-cloud-marketo-using-munchkin.html">마르케토 (먼치킨) 와의 통합</a></li>
                        
                        <li><a href="/integrations/marketo/integrating-video-cloud-marketo-using-rest-apis.html">마케토 (REST API) 와 통합</a></li>
                        
                        <li><a href="/integrations/marketo/marketo-rest-integration-testing-guide.html">마케토 REST 통합 테스트 가이드</a></li>
                        
                      </ul>
                    </li>
                  
                
                  
                    <li class="submenu-header">
                      <a href="/integrations/non-map/index.html">비맵<strong>+</strong></a>
                      <ul class="sidenav-subsubmenu" style="display:none;">
                        
                        <li><a href="/integrations/non-map/creating-custom-integrations-audience-module.html">사용자 정의 통합 생성</a></li>
                        
                        <li><a href="/integrations/non-map/integrating-audience-single-sign.html">단일 사인온과 통합</a></li>
                        
                        <li><a href="/integrations/non-map/using-audience-module-track-viewers.html">오디언스를 사용하여 뷰어 추적</a></li>
                        
                      </ul>
                    </li>
                  
                
                  
                    <li class="submenu-header">
                      <a href="/integrations/salesforce/index.html"><strong>세일즈포스</strong></a>
                      <ul class="sidenav-subsubmenu" style="display:none;">
                        
                        <li><a href="/integrations/salesforce/creating-custom-lead-forms-salesforce.html">사용자 정의 잠재 고객 양식 생성</a></li>
                        
                        <li><a href="/integrations/salesforce/creating-custom-lead-forms-salesforce.html">파도트에 대한 세일즈 포스 객체 만들기</a></li>
                        
                        <li><a href="/integrations/salesforce/integrating-video-cloud-salesforce.html">세일즈포스와 통합</a></li>
                        
                      </ul>
                    </li>
                  
                
              </ul>
            
          
            
              <h5 class="submenu-header"><a href="/admin/index.html">대상 관리<strong>+</strong></a></h5>
              <ul class="sidenav-submenu" style="display:none;">
                
                  
                    <li><a href="/admin/exporting-audience-data-audience-module.html">대상에서 데이터 내보내기</a></li>
                  
                
                  
                    <li><a href="/admin/exporting-gallery-lead-data.html">갤러리 잠재 고객 데이터 익스포트</a></li>
                  
                
                  
                    <li><a href="/admin/managing-viewer-data.html">뷰어 데이터 관리</a></li>
                  
                
                  
                    <li><a href="/admin/troubleshooting-audience-issues.html">고객 문제 해결</a></li>
                  
                
              </ul>
            
          
            
              <h5 class="submenu-header"><a href="/develop/index.html">개발자 <strong>+</strong></a></h5>
              <ul class="sidenav-submenu" style="display:none;">
                
                  
                    <li><a href="/develop/overview-audience-api.html">개요: 오디언스 API</a></li>
                  
                
                  
                    <li><a href="/develop/reference.html">대상 API 참조</a></li>
                  
                
              </ul>
            
          
            
              <h5 class="submenu-header"><a href="/support/index.html">지원 <strong>+</strong></a></h5>
              <ul class="sidenav-submenu" style="display:none;">
                
                  
                    
                  
                
                  
                    <li><a href="/support/viewing-brightcove-system-status-page.html">브라이트코브 시스템 상태 페이지 보기</a></li>
                  
                
                  
                    <li><a href="/support/contact-sales.html">영업팀에 문의</a></li>
                  
                
                  
                    <li><a href="/support/opening-case-with-brightcove-support.html">지원 사례 열기</a></li>
                  
                
              </ul>
            
          
      </nav>
    </div>
    <div class="col-lg-7" style="background-color: white;color: #333333;margin-top: -1em;margin-bottom: -1em;padding-bottom:1em;">
  <!-- bootstrap layout -->

<p id="bc_veggie_burger_wrapper" style="display: none;"><img id="bc_veggie_burger" src="/assets/images/feather/menu.svg" alt="네비게이션 메뉴"/></p>

<!-- search bar -->
<div id="nav-search-box" style="margin-top: 1rem;"></div>
<!-- in-page navigation for narrow screens -->
<details class="centered-inpage-nav" id="centered_inpage_nav">
  <summary><h6 class="toc">페이지 내용</h6></summary>
  <nav id="centered_toc"></nav>
  <ul id="centered_in_page_toc" class="list-none"></ul>
</details>
<!-- open in new tab/window -->
<a id="open_new_tab" href="#" target="_blank" style="display: none;"><img src="/assets/images/feather/external-link.svg" alt="새 탭에서 열기" style="margin-top:4em;width: 1.5em;"/></a>



  
    


<article class="bcls-article">
  <h1>브라이트코브 오디언스</h1>
  <summary>이 항목에는 브라이트코브 오디언스에 대해 질문하는 몇 가지 일반적인 질문이 포함되어 있습니다.</summary>
  <section class="bcls-section" id="why-how">
    <h2>관객의 이유 및 작동 방식</h2>
    <dl>
      <dt class="bcls-question language-editable">마케팅 자동화 솔루션에서 비디오를 추적해야 하는 이유는 무엇입니까?</dt>
      <dd class="bcls-answer language-editable">마케팅 자동화 솔루션은 현재 비디오를 추적하지 않습니다. 강력한 콘텐츠로 동영상에 투자하는 경우 동영상의 효과를 추적하고 콘텐츠를 보는 잠재 고객/사용자와의 통신을 자동화해야 합니다. </dd>
      <dt class="bcls-question language-editable">브라이트코브와 오디언스 모듈이 쿠키를 사용합니까?</dt>
      <dd class="bcls-answer language-editable">Audience 모듈은 타사 쿠키를 만들고 사용하여 통합이 이루어질 때 사용자를 식별합니다. 이렇게 하면 시청자에게 리드 양식을 다시 작성하라는 메시지가 표시되지 않습니다. 또한 이 모듈은 쿠키를 사용하여 뷰어를 추적하는 Marketo, HubSpot 및 Eloqua API를 사용합니다. 오디언스 프로필을 사용할 때 브라이트코브 쿠키가 사용됩니다.</dd>
      <dt class="bcls-question language-editable">브라이트코브 오디언스가 모든 고객에게 제공됩니까?</dt>
      <dd class="bcls-answer language-editable">안 돼시청자는 비디오 마케팅 스위트 (VMS) 에 대한 구매 가능한 추가 기능으로 사용할 수 있습니다. 그러나 오디언스 프로필은 모든 브라이트코브 고객에게 무료로 제공됩니다. 당신은 “청중-라이트”로 생각할 수 있습니다.</dd>
      <dt class="bcls-question language-editable">오디언스 프로파일에 대한 자격이 있는 사람</dt>
      <dd class="bcls-answer language-editable">2017년 4분기부터 모든 VMS 고객은 대상 프로필에 무료로 액세스할 수 있습니다. <a href="https://audience.support.brightcove.com/integrations/non-map/using-audience-module-track-viewers.html">고객은 데이터 추적을 시작하려면 이 기능을 활성화해야</a>합니다. EVS (엔터프라이즈 비디오 제품군) 고객도 대상 SSO 추적 기능을 사용할 수 있습니다.</dd>
    </dl>
  </section>
  <section class="bcls-section" id="tracking-limitations">
    <h2>시청자 추적 및 제한 사항</h2>
    <dl>
      <dt class="bcls-question language-editable">잠재고객 프로필은 모든 기능을 갖춘 오디언스 모듈과 비교했을 때 어떤 제한 사항이 있나요?</dt>
      <dd class="bcls-answer language-editable">
        <ul>
          <li>타사 시스템과의 통합 불필요</li>
          <li>API 액세스 권한 없음</li>
          <li>사용자 지정 리드 양식 없음 (잠재 고객 양식만 해당)</li>
          <li>최대 1000개의 뷰/24시간 기간 캡처</li>
        </ul>
        오디언스 데이터를 CSV 또는 XLS 파일로 수동으로 내보낼 수 있습니다.</dd>
      <dt class="bcls-question language-editable">마케팅 자동화 플랫폼에 연결할 때 Audience 의 제한/요구 사항은 무엇입니까?</dt>
      <dd class="bcls-answer language-editable">제한 사항 및 요구 사항은 각 플랫폼의 설명서에 설명되어 있습니다.
        <ul>
          <li><a href="/integrations/eloqua/integrating-video-cloud-oracle-eloqua.html">오라클 엘로쿠아</a></li>
          <li>허브스팟 ( <a href="/integrations/hubspot/integrating-video-cloud-hubspot-using-client-side-apis.html">클라이언트 측 API</a>또는<a href="/integrations/hubspot/integrating-video-cloud-hubspot-using-rest-apis.html">REST API</a> )</li>
          <li>마케토 ( <a href="/integrations/marketo/integrating-video-cloud-marketo-using-munchkin.html">먼치킨</a>또는<a href="/integrations/marketo/integrating-video-cloud-marketo-using-rest-apis.html">REST API</a> )</li>
          <li><a href="/integrations/salesforce/integrating-video-cloud-salesforce.html">세일즈포스</a></li>
        </ul>
      </dd>
      <dt class="bcls-question language-editable">오디언스 API를 폴링 할 수있는 빈도에 제한이 있습니까? 비디오 검색 결과에 1000 캡이 있지만 해당 API 엔드 포인트에 다른 주파수 관련 캡이 있습니까? </dt>
      <dd class="bcls-answer language-editable">API 호출 당 최대 뷰 이벤트 수는 실제로 100개입니다. 속도 제한은 없지만 너무 많이 호출하려고하면 조금 느려질 것입니다.</dd>
      <dt class="bcls-question language-editable">현재 존재하는 3 시간 지연보다 Audience 데이터를 더 빨리 얻을 수있는 방법이 있습니까? “실시간에 가까운”메트릭을 얻고 싶습니다.</dt>
      <dd class="bcls-answer language-editable">안 돼실시간 메트릭을 원한다면 자신의 플러그인을 작성하고 자신의 시스템에 데이터를 보내야합니다.</dd>
      <dt class="bcls-question language-editable">오디언스로 전송되는 이벤트 뷰의 트리거는 무엇입니까? 비디오가 완료 될 때, 플레이어 창이 닫힐 때 또는 다른 것입니까? 사용자가 비디오를 완성하지 않고 플레이어 창을 닫지 않으면 어떻게 되나요?</dt>
      <dd class="bcls-answer language-editable">그것은 다양하지만 기본적으로 Audience 플러그인은 10 초마다 서버로 하트 비트를 보냅니다.</dd>
      <dt class="bcls-question language-editable">청중은 언제 “완료”될 보기에서 추적을 고려합니까? 플레이어 창이 닫히거나 비디오를 완료 할 때입니까? 그들이 중간에 시청하고, 비디오를 일시 정지하고, 플레이어 창을 닫지 않으면 어떻게 될까요?</dt>
      <dd class="bcls-answer language-editable">우리가 마지막으로 심장 박동을 본 지 15 분이 지난 때입니다. 기본적으로 활동이 부족합니다.</dd>
      <dt class="bcls-question language-editable">Audience 보기 데이터에서 시청자 데이터를 사용할 수 있게 되면 시청자 데이터를 변경할 수 있습니까? 향후 어떤 종류의 로그 통합으로 해당 이벤트 데이터가 업데이트됩니까? </dt>
      <dd class="bcls-answer language-editable">UI 또는 API를 통해 Audience 에서 데이터를 사용할 수 있으면 “해결 된”것으로 간주되며 변경되지 않습니다.</dd>
    </dl>
  </section>
  <section class="bcls-section" id="data-protection">
    <h2>데이터 보호 및 기록 보존</h2>
    <dl>
      <dt class="bcls-question language-editable">대상 GDPR을 준수합니까?</dt>
      <dd class="bcls-answer language-editable">
        <p>예. Audience (Audience) 를 통해 수집한 모든 데이터를 조회하고 삭제할 수 있는 기능을 고객에게 제공합니다. </p>
        <p><a href="https://audience.support.brightcove.com/admin/managing-viewer-data.html">https://audience.support.brightcove.com/admin/managing-viewer-data.html</a></p>
      </dd>
      <dt class="bcls-question language-editable">Audience 에서 데이터를 얼마나 오래 보존할 수 있습니까?</dt>
      <dd class="bcls-answer language-editable">MAP 통합은 최대 6개월로 설정할 수 있으며 비맵 통합은 3년으로 설정할 수 있습니다. </dd>
      <dt class="bcls-question language-editable">GUID 조회는 얼마나 오래 캐시됩니까?</dt>
      <dd class="bcls-answer language-editable">알려진 경우 30일, 알 수 없는 경우 7일 (MAP 통합에만 적용, 비 맵 통합의 경우 조회는 필요 없음)</dd>
    </dl>
  </section>
  <section id="marketing-automation" class="bcls-section">
    <h2>마케팅 자동화 및 뷰어 분석</h2>
    <dl>
      <dt class="bcls-question language-editable">마케팅 자동화 플랫폼의 다른 미디어에서 비디오를 추적하는 것과 다른 점은 무엇입니까?</dt>
      <dd class="bcls-answer language-editable">웹페이지나 다운로드 가능한 백서와는 달리 동영상이 있는 경우 시청자가 시청한 동영상의 양과 노출된 콘텐츠를 정확히 확인할 수 있습니다. </dd>
      <dt class="bcls-question language-editable">내 엘로쿠/마케토/HubSpot 계정과 어떻게 연결하나요?</dt>
      <dd class="bcls-answer language-editable">오디언스 모듈의 비디오 마케팅 스위트를 통해 Eloqua/Marketo/HubSpot 계정에 직접 로그인할 수 있습니다. 여기에서 MAP 추적 기능이 내장된 플레이어 및 리드 양식을 만들 수 있으므로 비디오 분석 추적을 즉시 시작할 수 있습니다.</dd>
      <dt class="bcls-question language-editable">Eloqua/Marketo/HubSpot 페이지뿐만 아니라 비엘로쿼/마케토/HubSpot 랜딩 페이지 (사이트 코어/워드 프레스/갤러리 등) 에서도 조회수를 추적할 수 있나요? </dt>
      <dd class="bcls-answer language-editable">예, 사용 중인 플레이어가 “오디언스 활성화" (오디언스 플러그인 설치) 인 경우, 플레이어가 MAP 랜딩 페이지 또는 다른 랜딩 페이지에 있는지 여부에 관계없이 모든 뷰가 추적됩니다.</dd>
      <dt class="bcls-question language-editable">이 통합으로 무엇을 추적할 수 있습니까?</dt>
      <dd class="bcls-answer language-editable">Akamai의 통합을 통해 데이터베이스에 이미 있는 알려진 연락처에 대한 비디오 시청 분석 (비디오, 비디오 ID, 시청률, 시청 시간) 을 추적할 수 있습니다.</dd>
      <dt class="bcls-question language-editable">알 수 없는 연락처는 어떻습니까? 나도 그들을 추적 할 수 있습니까?</dt>
      <dd class="bcls-answer language-editable">브라이트코브 오디언스를 사용하면 알 수 없는 연락처를 추적할 수 있으며, Eloqua/HubSpot 양식을 제출하면 시청률 정보를 해당 새 연락처와 소급하여 연결할 수 있습니다. 오디언스는 알 수 없는 연락처의 보기 데이터를 Oracle Eloqua/HubSpot 인스턴스로 다시 일치시키기 위해 매일 시청률 정보를 다시 제출합니다. </dd>
      <dt class="bcls-question language-editable">내 영상 보기 데이터는 MAP에 어디에 표시되나요?</dt>
      <dd class="bcls-answer language-editable">이것은 사용중인 MAP에 따라 다릅니다. <a href="https://audience.support.brightcove.com/integrations/eloqua/eloqua-integration-testing-guide.html">오라클 엘로쿠아</a> , <a href="https://audience.support.brightcove.com/integrations/marketo/marketo-rest-integration-testing-guide.html">Marketo</a>및<a href="https://audience.support.brightcove.com/integrations/hubspot/hubspot-rest-api-integration-testing-guide.html">HubSpot에</a>대한 다음 설명서를 참조하십시오.</dd>
      <dt class="bcls-question language-editable">Salesforce에서 내 비디오 시청 데이터는 어디에 표시됩니까?</dt>
      <dd class="bcls-answer language-editable">비디오 보기는 활동 섹션의 시청자 연락처 아래에 작업으로 Salesforce에 전달됩니다. 이에 대한 예는<a href="https://audience.support.brightcove.com/integrations/salesforce/integrating-video-cloud-salesforce.html#sfdata">Salesforce에서 비디오 데이터 보기를</a>참조하십시오. </dd>
      <dt class="bcls-question language-editable">내 연락처 중 하나가 비디오를 시청했을 때 Salesforce에 알림을 받을 수 있습니까?</dt>
      <dd class="bcls-answer language-editable">직접은 아닙니다. 그러나 연락처의 활동을 알리는 보고서를 실행할 수 있습니다.</dd>
      <dt class="bcls-question language-editable">세일즈포스와 오라클 엘로쿠/마케토와의 추적 사이에 차이가 있습니까?</dt>
      <dd class="bcls-answer language-editable">가장 큰 차이점은 Salesforce가 쿠키를 사용하여 사용자를 추적하지 않는다는 것입니다. 따라서 뷰어를 식별하기 위해 고유 식별자를 전달해야합니다. 자세한<a href="https://audience.support.brightcove.com/integrations/salesforce/integrating-video-cloud-salesforce.html#identify">내용은이 문서를</a>참조하십시오. 또한 CRM인 Salesforce는 자동화된 후속 조치 또는 잠재 고객 점수를 제공하지 않습니다. 그러나 Salesforce에서 작업을 만든 다음 실제 후속 작업을 위해 영업 팀에 할당되는 작업을 만들 수 있습니다.</dd>
      <dt class="bcls-question language-editable">오디언스는 “사용자 정의”통합 옵션을 가지고 있습니다. 이 옵션을 사용하여 오디언스가 통합 할 수있는 다른 플랫폼은 무엇입니까?</dt>
      <dd class="bcls-answer language-editable">
        <p>대상 고객은 다음과 같은 모든 데이터 플랫폼과 “통합”할 수 있습니다.</p>
        <ol>
          <li>각 연락처 레코드에 고유 식별자를 사용합니다.</li>
          <li>타사 플랫폼 (예: Audience) 에서 추가 데이터를 수신 할 수있는 API가 있습니다.</li>
        </ol>
      </dd>
    </dl>
  </section>
  <section id="lead-forms" class="bcls-section">
    <h2>플레이어 리드 양식</h2>
    <dl>
      <dt class="bcls-question language-editable">오디언스는 언제 가망 고객 화면을 표시합니까?</dt>
      <dd class="bcls-answer language-editable">기본 설정은 MAP 데이터베이스의 알 수 없는 사용자 (알려진 사용자로 변환하려는 사용자) 에게만 리드 양식을 표시합니다. 항상 리드 양식을 표시하도록 선택한 경우 설정에서 이 설정을 재정의할 수 있습니다. 이것은 테스트에 가장 유용합니다. 알려진 사용자는 자동으로 추적되며 해당 데이터는 양식을 표시할 필요 없이 MAP의 연락처와 연결됩니다.</dd>
      <dt class="bcls-question language-editable">리드 양식을 사용자 지정할 수 있습니까?</dt>
      <dd class="bcls-answer language-editable">UI를 사용하여 표시되는 텍스트와 필드를 조정할 수 있습니다. UI에서 사용할 수있는 것 이상으로 수정할 수 없습니다 (갤러리는 양식이 사이트와 일치하도록 일부 스타일을 업데이트 할 수 있습니다) </dd>
    </dl>
  </section>
  <section id="general" class="bcls-section">
    <h2>일반 주제</h2>
    <dl>
      <dt class="bcls-question language-editable">어떤 임베드 코드를 사용해야합니까? iframe 또는 페이지?</dt>
      <dd class="bcls-answer language-editable">오디언스가 작동하려면 고급 임베드 코드를 사용해야 합니다. 표준 (iframe) embed 코드를 사용하면 플레이어가 페이지에서 격리됩니다. 즉, Audience 플러그인이 고유 식별자를 볼 수 없으므로 모든 사용자가 “알 수 없음”으로 표시됩니다.</dd>
      <dt class="bcls-question language-editable">마케팅 자동화란 무엇입니까?</dt>
      <dd class="bcls-answer language-editable">마케팅 자동화는 다른 온라인 마케팅 채널 (이메일, 웹, 양식, 콘텐츠, 비디오, 소셜 등) 과의 리드/사용자 상호 작용을 추적하는 기술입니다. 마케팅 자동화를 통해 마케터는 이러한 채널에서 보다 효과적으로 마케팅을 수행하고 반복적인 마케팅 작업 (예: 이메일 커뮤니케이션) 을 자동화할 수 있습니다. 마케팅 자동화를 통해 마케터는 사전 정의된 변수를 기반으로 자동화 및 개인화된 작업을 설정할 수 있습니다. 예를 들어 사용자가 특정 동영상의 75% 를 보는 경우 특정 주제에 대한 이메일을 보내지만 12% 만 시청하는 경우 다른 동영상을 보냅니다. </dd>
      <dt class="bcls-question language-editable">브라이트코브는 마케팅 자동화 회사입니까?</dt>
      <dd class="bcls-answer language-editable">아니요. 브라이트코브는 비디오 마케팅을 위한 완벽한 솔루션을 제공합니다. Adobe 솔루션을 사용하면 비디오를 온라인으로 가져오고, 콘텐츠를 구성하고, 플레이어를 만들고, 비디오 포털을 만들고, 분석을 추적하고, 기존 마케팅 자동화 플랫폼과 통합할 수 있습니다. 브라이트코브는 비디오 분석을 마케팅 자동화 플랫폼에 통합합니다.</dd>
      <dt class="bcls-question language-editable">Marketo 사용자 지정 활동이 올바르게 설정되었는지 확인하려면 어떻게 해야 합니까?</dt>
      <dd class="bcls-answer language-editable">대상 그룹에는 특정 종류의 통합을위한 디버깅 도구를 제공하는 숨겨진 URL이 있습니다. Marketo REST는 하나입니다. <a href="https://studio.brightcove.com/products/videocloud/audience/debug">https://studio.brightcove.com/products/videocloud/audience/debug</a>
        <figure class="bcls-figure"><img class="bcls-image--no-border" alt="대상 설정 " src="/assets/images/general/faq-debug.png"/></figure>
      </dd>
      <dt class="bcls-question language-editable">사용자 지정 통합을 구성하기 위해 수행해야 할 작업은 무엇입니까?</dt>
      <dd class="bcls-answer language-editable">세 가지 작업을 수행해야합니다.
        <ol>
          <li>Audience 가 캡처할 수 있는 페이지의 URL 또는 코드에 고유 식별자를 노출해야 합니다.</li>
          <li> Audience API를 사용하여 데이터를 JSON 파일로 검색하는 스크립트를 만듭니다 (브라이트코브 글로벌 서비스는 이 문제를 해결할 수 있습니다).</li>
          <li> 대상 데이터베이스의 필드에 데이터를 매핑합니다 (스프레드시트 병합 생각).</li>
        </ol>
        다음 지원 설명서에서는 이러한 작업에 대해 설명합니다.
        <ul>
          <li><a href="https://audience.support.brightcove.com/integrations/non-map/creating-custom-integrations-audience-module.html">대상 모듈과 사용자 지정 통합 만들기 - 오디언스에게</a>캡처할 수 있는 고유 식별자를 제공하는 방법을 설명합니다.</li>
          <li> <a href="https://audience.support.brightcove.com/develop/overview-audience-api.html">Audience API</a> - 프로그래밍 방식으로 모든 데이터를 JSON 파일로 검색하여 선택한 데이터 처리 시스템으로 가져올 수 있는 방법을 다룹니다.</li>
        </ul>
      </dd>
      <dt class="bcls-question language-editable">오디언스는 CDO 데이터를 Eloqua로 푸시하는 방법은 무엇입니까?</dt>
      <dd class="bcls-answer language-editable">사용자 지정 개체 대량 API를 사용합니다. <a href="https://docs.oracle.com/cloud/latest/marketingcs_gs/OMCAC/api-bulk-2.0-customobjects.html">https://docs.oracle.com/cloud/latest/marketingcs_gs/OMCAC/api-bulk-2.0-customobjects.html </a></dd>
      <dt class="bcls-question language-editable">오디언스는 어떻게 외부 자산 활동을 푸시합니까? 사용된 캠페인, 외부 자산 및 활동 유형을 어떻게 관리할 수 있습니까?</dt>
      <dd class="bcls-answer language-editable">우리는 외부 활동 API ( <a href="https://docs.oracle.com/cloud/latest/marketingcs_gs/OMCAC/op-api-rest-2.0-data-activity-post.html">https://docs.oracle.com/cloud/latest/marketingcs_gs/OMCAC/op-api-rest-2.0-data-activity-post.html</a> ) 를 사용합니다. 캠페인 이름, 저작물 이름 또는 유형은 통제할 수 없습니다. 우리는 단순히 우리 자신의 캠페인 (브라이트코브비디오플레이라는 이름) 을 만든 다음 브라이트코브비디오플레이라는 활동을 만듭니다. </dd>
      <dt class="bcls-question language-editable">청중이 서비스 X와 통신할 수 있도록 허용 목록에 추가할 수 있는 IP 주소는 무엇입니까?</dt>
      <dd class="bcls-answer language-editable">대상 그룹이 IP 화이트리스트에 사용해야 하는 IP 주소 집합을 설정했습니다. 목록을 보려면 Eloqua 연결을 편집하고<a ng-click="showInfo()" ng-if="::!ctrl.hideWhitelistInfo &amp;&amp; ctrl.isEloqua(ctrl.integration)" context="troubleSeeing"><strong>Eloqua에서 대상 데이터를 볼 수 없습니까?</strong></a>링크를 클릭하여 IP 주소 목록을 확인합니다.</dd>
    </dl>
  </section>
</article>

<!-- complete bootstrap layout -->
    </div>
    <div class="col-sm-2 right-side-bar">
      
      <nav class="right-side-nav" id="right_side_nav">
        <h6 class="toc">페이지 내용</h6>
        <ul id="in_page_nav" class="list-none"></ul>
      </nav>
      
    </div>
  </div>
</div>

<hr>
<footer class="bcls-footer" role="contentinfo">  <div class="row">
    <div class="region region-footer-top-center col-md-12">
      <nav role="navigation" aria-labelledby="block-brightcovesupport-menu" id="block-brightcovesupport" class="footer-menu">

        <h2>브라이트코브 지원</h2>

        <ul class="menu">
          <li>
            <a href="https://status.brightcove.com">시스템 상태</a>
          </li>
          <li>
            <a href="https://supportportal.brightcove.com/s/login/?">고객 지원 문의</a>
          </li>
          <li>
            <a href="https://support.brightcove.com/">문서화</a>
          </li>
        </ul>

      </nav>
      <nav role="navigation" aria-labelledby="block-training-menu" id="block-training" class="footer-menu">

        <h2>교육</h2>

        <ul class="menu">
          <li>
            <a href="https://studio.support.brightcove.com/training/online-training-courses.html">온라인 강좌</a>
          </li>
          <li>
            <a href="https://studio.support.brightcove.com/training/register-training.html">강좌 등록</a>
          </li>
          <li>
            <a href="https://university.brightcove.com/">브라이트코브 대학교</a>
          </li>
        </ul>

      </nav>
      <nav role="navigation" aria-labelledby="block-brightcove-menu" class="footer-menu">

        <h2>Brightcove</h2>

        <ul class="menu">
          <li>
            <a href="https://www.brightcove.com">브라이트코브닷컴</a>
          </li>
          <li>
            <a href="https://supportportal.brightcove.com/s/login/?">연락처</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="region region-footer-bottom-center col-md-12">
      <div class="bcls-copyright footer-menu">
        <table>
          <tr>
            <td>
              <div id="bc_copyright" class="field field--name-field-copyright-year field--type-string field--label-hidden field--item" style="float: left;"> 브라이트코브 Inc. 모든 판권 소유.</div>
            </td>
            <td><a href="https://www.brightcove.com/en/legal/privacy">개인 정보 보호</a> | <a href="https://www.brightcove.com/en/terms-and-conditions">이용 약관</a></td>
            <td>
              <div class="gf-links-cols footer-menu">
                <div class="gf-social"><a href="https://www.linkedin.com/company/16439" title="LinkedIn" newtab="newtab" class="gf-social-linkedin"><i class="fab fa-linkedin-in" style="font-size: 1.5rem;"></i></a><a href="https://twitter.com/brightcove" title="Twitter" newtab="newtab" class="gf-social-twitter"><i class="fab fa-twitter" style="font-size: 1.5rem;"></i></a><a href="https://www.facebook.com/Brightcove" title="Facebook" newtab="newtab" class="gf-social-facebook"><i class="fab fa-facebook-f" style="font-size: 1.5rem;"></i></a>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</footer>

<script>
      
  var searchBox = sajari.init({
    mode: "search-box",
    project: "1588255093746585379", // Set this to your project.
    collection: "brightcove-documenation", // Set this to your collection.
    instantPipeline: "autocomplete", // Pipeline used as you type
    inputPlaceholder: "Search", // Input element placeholder
    maxSuggestions: 5, // Maximum number of suggestions to show
    attachSearchBox: document.getElementById("nav-search-box") // DOM element to attach to
  });
  
    searchBox("sub", "pipeline.search-sent", function (_, query) {
      window.location = "/search.html?q=" + encodeURIComponent(query.q);
    });
  

</script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://support.brightcove.com/site-assets/js/site/https-fix.js"></script>
  <script src="https://support.brightcove.com/site-assets/js/site/setDate.js"></script>
  
  <script src="https://support.brightcove.com/site-assets/js/site/prism.js"></script>
  
  <script src="https://support.brightcove.com/site-assets/js/site/site.js"></script>
  <script src="https://support.brightcove.com/site-assets/js/site/tabs.js"></script>
  <script src="https://support.brightcove.com/site-assets/js/site/toc.js"></script>
  <script src="/assets/js/sites_nav.js"></script>
  <script src="https://support.brightcove.com/site-assets/js/site/bcls-utils.js"></script>
  <script src="https://support.brightcove.com/site-assets/js/site/local-link-fix.js"></script>
  <script src="/assets/js/feedback.js"></script>
  
  <script src="/assets/js/sajari-search-foot.js"></script>
  
  <!-- <script src="/assets/js/sajari-index.js"></script> -->
  <style>
    a.sj-paginator__page-number.sj-paginator__page-number--current.css-so0ov7 {
      background-color: lightblue;
    }
    div.sj-tabs__tab {
      margin-top: 3rem;
      margin-left: .3rem;
      border-top-left-radius: .4rem;
      border-top-right-radius: .4rem;
      background-color:#e8e8e8;
    }

    div.sj-tabs__tab.sj-tabs__tab--selected {
      border-bottom-color: crimson;
      background-color: #f8f8f8;
    }

    p.sj-results__result__description.css-p9jvyt {
      font-size: 1rem;
    }

    .sj-result__text.css-31l7gp h3 {
      color: navy;
      font-size: 1.4rem;
    }
    </style>

</body>

</html>
